In [40]:
import pandas as pd
import numpy as np

**GroupBy**

In [41]:
data={
    'Category':['A','B','A','B','A','B','A','B'],
    'Store':['S2','S2','S1','S1','S2','S2','S1','S2'],
    'Sales':[100,200,150,250,120,180,200,300],
    'Quantity':[10,15,12,18,8,20,15,25],
    'Date':pd.date_range('2023-01-01',periods=8)    
}
df=pd.DataFrame(data)

In [42]:
df

  Category Store  Sales  Quantity       Date
0        A    S2    100        10 2023-01-01
1        B    S2    200        15 2023-01-02
2        A    S1    150        12 2023-01-03
3        B    S1    250        18 2023-01-04
4        A    S2    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S1    200        15 2023-01-07
7        B    S2    300        25 2023-01-08

In [43]:
# group by category and calculate the sum of sales
df.groupby('Category')['Sales'].sum()

Category
A    570
B    930
Name: Sales, dtype: int64

In [44]:
# group by store and calculate the sum of sales
df.groupby('Store')['Sales'].sum()

Store
S1    600
S2    900
Name: Sales, dtype: int64

In [45]:
# Groupby multiple columns
# groupby category and store
df.groupby(['Category','Store'])['Sales'].sum()

Category  Store
A         S1       350
          S2       220
B         S1       250
          S2       680
Name: Sales, dtype: int64

**Aggregation**

In [46]:
df['Sales'].mean()

187.5

In [47]:
df['Sales'].median()

190.0

In [48]:
df['Sales'].min()

100

In [49]:
df['Sales'].max()

300

In [50]:
df['Sales'].count()

8

In [51]:
df['Sales'].std()

66.06274074155351

In [52]:
df['Sales'].agg(['mean','median','min','max','count','std'])

mean      187.500000
median    190.000000
min       100.000000
max       300.000000
count       8.000000
std        66.062741
Name: Sales, dtype: float64